html,
body {
  padding: 10px;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h2 {
  text-align: center;
}


.powerBy {
  margin-left: 7px;
}

.powerBy:hover {
  text-decoration: underline;
}